/* general */
body {
  width: 85%;
  margin: 0 auto;
  background: url(../../img/bg_dashboard.jpg) no-repeat center/cover;
  height: 100%;
}
.navbar {
  justify-content: flex-start;
  box-shadow: 0 2px 3px #777;
}
.navbar a {
  margin-right: 2rem;
}

/* page produit titleDashboard */
.bgDashBoard {
  padding-top: 50px;
  background: #eee;
}
.titleDashboard {
  text-align: center;
  margin: 5rem 2rem;
  font-size: 3rem;
  color: #777777;
}
/* page produit fiche produit */
.badge {
  font-size: 1.2rem;
}
.h2Produit {
  color: #eee;
  text-align: center;
  margin: 2rem;
}
.allProduit {
  background: #423c3c;
  /* height: 2000px; */
  padding: 2rem 0;
}
.ficheProduit {
  width: 95%;
  margin: 0 auto 2rem;
  border-radius: 15px;
  padding: 20px;
  border: 1px solid #777;
  background: #eee;
}
.headProduit {
  display: flex;
  justify-content: space-between;
}
.mainProduit {
  display: flex;
  justify-content: space-between;
  min-height: 150px;
}
.adminProduit {
  max-width: 20%;
  align-items: flex-end;
}
.adminProduit .btn {
  margin-top: 10px;
}
.footerProduit {
  display: flex;
  justify-content: space-between;
}
.prixProduit {
  width: 8em;
  margin-right: 10px;
}
@media screen and (max-width: 1024px) {
  .ficheProduit {
    width: 100%;
  }
  .headProduit {
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .headProduit .badge {
    margin-left: 2rem;
  }
  .headProduit h2 {
    text-align: center;
  }
  .mainProduit {
    display: block;
  }
  .adminProduit {
    max-width: 50%;
    align-items: center;
    margin: 0 auto;
  }
  .footerProduit {
    display: block;
  }
  .navbar {
    justify-content: center;
    align-items: center;
  }
}
/* page produit formulaire update/modification produit */
.upDateProduit {
  padding: 2rem 0;
}

.upDateProduit h2 {
  text-align: center;
  margin: 2rem;
}
.readProduit {
  width: 77%;
  margin: 0 auto 2rem;
}
.formUpDate {
  border: 1px solid #777777;
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
}
.formUpDate input,
textarea,
select,
label,
button {
  margin: 10px 10px;
}
/* page produit formulaire ajout de produit formCreate */
.createProduit {
  background: #423c3c;
  padding: 2rem 0;
}
.createProduit h2 {
  text-align: center;
  margin: 2rem;
  color: #eee;
}
.formCreate {
  border: 1px solid #777777;
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
  background: #eee;
}
.formCreate input,
textarea,
select,
label,
button {
  margin: 10px 10px;
}
/* page index formulaire de connexion */
.login {
  width: 80%;
  background: #eee;
  margin: auto auto;
  transform: translateY(60%);
  padding: 2rem;
}
.login h1 {
  text-align: center;
}
/* class de test */
.test {
  border: 1px red solid;
}
.div-vide {
  min-width: 150px;
  min-height: 100px;
}
/*  */
