/* fiche produit */
.ficheProduit {
  background: blue;
  width: 80%;
  margin: 0 auto;
  border-radius: 15px;
  padding: 20px;
}
.headProduit {
  background: red;
  display: flex;
  justify-content: space-between;
}
.mainProduit {
  background: green;
  display: flex;
  justify-content: space-between;
  min-height: 150px;
}
.adminProduit {
  max-width: 20%;
  align-items: flex-end;
}
.adminProduit .btn {
  margin-top: 10px;
}

.footerProduit {
  display: flex;
  justify-content: space-between;
  background: hotpink;
}
.prixProduit {
  width: 8em;
  margin-right: 10px;
}
/* class de test */
.test {
  border: 1px red solid;
}
.div-vide {
  min-width: 150px;
  min-height: 100px;
}
