/* fiche produit */
.ficheProduit {
  width: 80%;
  margin: 0 auto;
  border-radius: 15px;
  padding: 20px;
  border: 1px solid #777;
}
.headProduit {
  display: flex;
  justify-content: space-between;
}
.mainProduit {
  display: flex;
  justify-content: space-between;
  min-height: 150px;
}
.adminProduit {
  max-width: 20%;
  align-items: flex-end;
}
.adminProduit .btn {
  margin-top: 10px;
}

.footerProduit {
  display: flex;
  justify-content: space-between;
}
.prixProduit {
  width: 8em;
  margin-right: 10px;
}

/* formulaire update produit */
.formUpDate {
  border: 1px solid #777777;
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
}
.formUpDate input,
textarea,
select,
label,
button {
  margin: 10px 10px;
}
/* formulaire ajout de produit formCreate */
.formCreate {
  border: 1px solid #777777;
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
}
.formCreate input,
textarea,
select,
label,
button {
  margin: 10px 10px;
}

/* class de test */
.test {
  border: 1px red solid;
}
.div-vide {
  min-width: 150px;
  min-height: 100px;
}
/*  */
